.navbar {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #eceff1;
}

.navbar img {
    width: 4vw;
    margin: 10px;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    margin: 3vh 3vh 0 0 ;
}

.searchbar {
    border: 2px solid red;
    margin: 3vh;
}
#searchbar {
    margin: 0 auto;
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #ECEFF1;
    border-color: #ECEFF1;
    margin: 20px auto;
}

